* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header nav{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:16px 120px;
  background-color: #FFFFFF;
  border:1px solid red;
}

nav .logo{
  width:140px;
  height: 60px;;
}

nav .nav-list{
  display: flex;
  list-style-type: none;
  gap: 32px;
}

.nav-list li a{
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  opacity: 0.9;
  text-decoration: none;
}

.btn{
  width: 164px;
  background-color: rgba(70, 145, 101, 1);
  /* background-color: #30B868;
  opacity: o.8; */
  color: rgba(255, 255, 255, 1);
  padding:12px 16px;
  border:none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  /* width:164px; */
}
